* {
  box-sizing: border-box;
}

li, ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-width: 120vh;
  min-height: 540px;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-size: 2vh;
}

/* Basic Layout Items */
#Banner {
  position: fixed;
  width: 100%;
  height: 11vh;
  z-index: 1000;
}
#Banner_title {
  position: absolute;
  top: 0;
  height: 100%;
}
#Banner_navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 60vh;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

}
#Banner_navigation > li {
  position: relative;
}
#Banner_navigation > li:hover > ol {
  opacity: 1.0;
  visibility: visible;
  transition: opacity .2s;
}
#Banner_navigation > li::before {
  content: '';
  display: block;
  position: absolute;
  top: -115%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#Banner_navigation > li:hover::before {
  opacity: 1.0;
}
#Banner_navigation > li > ol  {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
#Banner_navigation a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#Content {
  min-width: 100%;
  min-height: 100%;
}

#LeftMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
#LeftMenu_navigation {
  text-align: right;
}
.LeftMenu_navigation_item {
  position: relative;
}

.LeftMenu_navigation_item:before {
  content: '';
  position: absolute;
  top: .25vh;
  right: 3.8em;
  width: 4em;
  height: 2em;
  opacity: 0;
  transition: opacity .1s;
}

.LeftMenu_navigation_item:hover:before {
  opacity: 1.0;
}

#Amaruuk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#LeftMenu_SmallAmaruuk {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35vh;
  padding: 0 2vh;
  transition: opacity .5s ease-in-out;
}

#LeftMenu_SmallAmaruuk_bubble {
  position: relative;
  min-height: 5vh;
  padding: 0 2vh;
}
#LeftMenu_SmallAmaruuk_bubble:before {
  display: block;
  position: absolute;
  top: -1.8vh;
  left: 0;
  width: 100%;
  height: 2.5vh;
  content: '';
}
#LeftMenu_SmallAmaruuk_bubble:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -4vh;
  width: 100%;
  height: 5vh;
  content: '';
}

#Lightbox {
  position: fixed;
  left: 50vw;
  top: 50vh;
  margin-left: -50vw;
  margin-top: -50vh;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  z-index: 9999;
  user-select: none;
  animation-duration: .2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
  visibility: hidden;
}
#Lightbox.-shown {
  animation-name: Lightbox_fadeIn;
}
#Lightbox.-hidden {
  animation-name: Lightbox_fadeOut;
}
#Lightbox_controls {
}
#Lightbox_close {
  position: absolute;
  top: 0em;
  right: .5em;
  font-size: 400%;
  color: #fff;
  text-shadow: 0 0 .05em #000;
  opacity: 0.5;
}
#Lightbox_close:hover {
  opacity: 1.0;
}
#Lightbox_left, #Lightbox_right {
  position: absolute;
  top: 0;
  height: 100%;
  font-size: 500%;
  color: #fff;
  text-shadow: 0 0 .05em #000;
  display: flex;
  align-items: center;
  width: 30vw;
  opacity: 0.5;
}
#Lightbox_left:hover, #Lightbox_right:hover {
  opacity: 1.0;
}
#Lightbox_left {
  left: 0;
  padding-left: 1em;
  justify-content: flex-start;
}
#Lightbox_right {
  right: 0;
  padding-right: 1em;
  justify-content: flex-end;
}
#Lightbox_image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#Lightbox_img {
  max-width: 100%;
  max-height: 100%;
}
@keyframes Lightbox_fadeIn {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes Lightbox_fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Gallery Modifiers */
#GalleryView #Banner {
  top: 3vh;
  left: 0;
}
#GalleryView #Banner_title {
  left: 100%;
  width: 40%;
  margin-left: -40%;
}
#GalleryView #Banner_navigation {
  left: 21vh;
  width: calc(100% - 21vh - 40%);
  pointer-events: auto;
  opacity: 1.0;
}

#GalleryView #LeftMenu {
  width: 21vh;
}
#GalleryView #LeftMenu_navigation {
  padding-top: calc(3vh + 11vh + 1.2vh);
}
#GalleryView .LeftMenu_navigation_item.-splashOnly {
  display: none;
}

#GalleryView .LeftMenu_navigation_item > ol {
  margin: 0.25em 0 0.5em 0;
}

#GalleryView #Amaruuk {
  opacity: 0;
}
#GalleryView #LeftMenu_SmallAmaruuk {
  opacity: 1.0;
}

#Gallery {
  padding-left: 21vh;
  padding-top: calc(3vh + 15vh);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
}

.Gallery_item {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  margin: .5em;
}
.Gallery_item:hover .Gallery_item_title {
  opacity: 1.0;
}

.Gallery_item_container {
  position: relative;
  height: 30vh;
  width: auto;
}

.Gallery_item_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Gallery_item_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity .3s;
}

/* Splash Modifiers */
#SplashView #Banner {
  top: 23.5vh;
}
#SplashView #Banner_title {
  left: 0;
  width: 60vh;
}
#Banner_title_desc {
  position: relative;
  top: -2.25em;
}
#SplashView #Banner_navigation {
  pointer-events: none;
  opacity: 0;
}
#SplashView #LeftMenu {
  width: 60vh;
}
#SplashView #LeftMenu_navigation {
  padding-top: calc(23.5vh + 3vh + 11vh);
}
#SplashView .LeftMenu_navigation_item.-galleryOnly {
  display: none;
}
#SplashView #Amaruuk {
}
#SplashView #LeftMenu_SmallAmaruuk {
  visibility: hidden;
  opacity: 0;
}
