:root {
  --bg-main: #000000; 
  --bg-sidebar: #1e1e1e;
  --bg-topmenu: rgba(30,30,30,0.8);
  --bg-topbar: rgba(17,17,17,0.7);
  --fg-light: #c8c3bb;
  --fg-dim: #847e7c;
  --fg-reddish: #653821;
  --glow: #884426;
  --cursor: url('/images/featherPointer.png'), default;
  --cursor-hover: url('/images/featherPointer2.png'), pointer;
}

body {
  background: var(--bg-main);
  font-family: "Ubuntu";
  cursor: var(--cursor);
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: var(--cursor-hover);
}

#Banner {
  background: var(--bg-topbar);
  user-select: none;

  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes moveBannerUp {
  to {
    top: 3vh;
  }
}
@keyframes moveBannerDown {
  to {
    top: 23.5vh;
  }
}

#Banner_title {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
@keyframes moveBannerTitleRight {
  100% {
    left: 100%;
    width: 40%;
    margin-left: -40%;
  }
}
@keyframes moveBannerTitleLeft {
  100% {
    left: 0;
    width: 60vh;
    margin-left: 0;
  }
}


#Banner_title_name {
  text-transform: uppercase;
  text-align: right;
  font-family: "Right Hand";
  font-weight: lighter;
  color: var(--fg-light);
  font-size: 6vh;
  padding: 1.2vh;
}

#Banner_title_desc {
  text-transform: uppercase;
  font-family: "Ubuntu";
  font-weight: bold;
  text-align: right;
  font-size: .71em;
  color: var(--fg-reddish);
  padding: 1.2vh;
}

#Banner_navigation {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

#Banner_navigation > li {
  transition: background .2s;
  font-family: "Right Hand";
  font-size: 3.5vh;
}
#Banner_navigation > li::before {
  background: url(/images/navFeather.png);
  background-size: 12vh;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleY(-1.0);
  transition: opacity .1s;
}
#Banner_navigation > li > a {
  padding: 0 .5em;
}

#Banner_navigation > li:hover {
  background: var(--bg-topmenu);
}
#Banner_navigation > li:hover > ol {
  background: var(--bg-topmenu);
}

#Banner_navigation > li > a {
  text-decoration: none;
  color: var(--fg-light);
  transition: all .1s;
}

#Banner_navigation > li > ol > li {
  font-size: 1.7vh;
  font-family: "Ubuntu";
  font-weight: lighter;
  color: var(--fg-light);
}

#Banner_navigation > li > ol > li > a {
  padding: .5em 1em;
}

#Banner_navigation > li > ol > li:hover {
  color: var(--bg-topmenu);
  background: var(--fg-light);
}

#LeftMenu {
  background: var(--bg-sidebar);
  padding-right: 1.2vh;
  user-select: none;

  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes shrinkLeftMenu {
  to {
    width: 21vh;
  }
}
@keyframes growLeftMenu {
  to {
    width: 60vh;
  }
}


.LeftMenu_navigation_item {
  font-size: 3.5vh;
  font-family: "Right Hand";
  padding-bottom: .5em;
  color: var(--fg-light);
  cursor: var(--cursor);
}

.LeftMenu_navigation_item a {
  cursor: var(--cursor-hover);
}

.LeftMenu_navigation_item a:hover {
  text-shadow: 0 0 .1em var(--glow);
}

.LeftMenu_navigation_item:before {
  background: url(/images/navFeather.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.LeftMenu_navigation_item > ol > li {
  font-size: .4em;
  font-family: "Ubuntu";
  font-weight: lighter;
  color: var(--fg-dim);
}
.LeftMenu_navigation_item > ol > li.LeftMenu_navigation_item_header {
  font-weight: bold;
  text-transform: uppercase;
}

#LeftMenu_SmallAmaruuk {
  background: center bottom / 70% no-repeat url("/images/birb01.png");
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
#LeftMenu_SmallAmaruuk.-squawk {
  background: center bottom / 70% no-repeat url("/images/birb02.png");
}
#LeftMenu_SmallAmaruuk.-squawk #LeftMenu_SmallAmaruuk_bubble {
  opacity: 1.0;
}

#LeftMenu_SmallAmaruuk_bubble {
  background: url("/images/captionBody.png") center / 100%;
  font-family: "Ubuntu";
  font-weight: lighter;
  font-size: 1.35vh;
  color: var(--fg-light);
  opacity: 0;
  transition: opacity .3s;
}
#LeftMenu_SmallAmaruuk_bubble:before {
  background: url("/images/captionTop.png") center top / 100% no-repeat;
}
#LeftMenu_SmallAmaruuk_bubble:after {
  background: url("/images/captionBottom.png") center bottom / 100% no-repeat;
}
#LeftMenu_SmallAmaruuk_bubble header {
  font-weight: bold;
  text-transform: uppercase;
}

#Content {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

#Amaruuk {
}

#Amaruuk::before {
  content: '';
  display: block;
  width: 100vmin;
  height: 100vmin;
  position: absolute;
  left: 12vh;
  top: -62vh;
  background: url("/images/splashSun.png") center / cover;
  animation: rotateSun 7.5s linear 0s infinite running;
}

@keyframes rotateSun {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#Amaruuk::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: left 6.5vh top -50vh / auto 150% no-repeat url("/images/splashFace.png");
}

#Amaruuk_eye {
  position: absolute;
  left: 67.085vh;
  top: 52.4vh;
  width: 9.2vh;
  height: 9.2vh;
  background: url("/images/splashBlink.png");
  background-size: 56vh;
  z-index: 50;
  animation-play-state: running;
  animation-timing-function: steps(1, end);
  opacity: 0;
  transition: opacity .3s;
  transition-delay: 5s;
}
#Amaruuk_eye.-shown {
  opacity: 1.0;
}

@keyframes blinkEye {
  14.285614% {
    background-position: 0 0;
  }
  28.571228% {
    background-position: -9.33vh 0;
  }
  42.856842% {
    background-position: -18.66vh 0;
  }
  57.142456% {
    background-position: -27.99vh 0;
  }
  71.42807% {
    background-position: -37.32vh 0;
  }
  85.713684% {
    background-position: -46.65vh 0;
  }
}

#GalleryView .LeftMenu_navigation_item {
  font-size: 5vh;
}

#GalleryView .LeftMenu_navigation_item:before {
  display: none;
}

.Gallery_item_title {
  color: var(--fg-light);
  text-shadow: 0 0 .25em var(--glow);
  font-weight: lighter;
  padding: .5em;
  background: var(--bg-topmenu);
  text-transform: uppercase;
}

/* */
#LeftMenu_navigation {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
#Amaruuk {
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
    visibility: visible;
  }
}