{{define "lightbox"}}
<div id="Lightbox" class="-hidden">
  <div id="Lightbox_image">
    <img id="Lightbox_img"/>
  </div>
  <div id="Lightbox_right">▶</div>
  <div id="Lightbox_left">◀</div>
  <div id="Lightbox_close">&times;</div>
</div>
{{end}}