{{define "lightbox"}}
<div id="Lightbox">
  <div id="Lightbox_image">
    <div id="Lightbox_img_container">
      <img id="Lightbox_img"/>
      <video autoplay loop muted id="Lightbox_video"></video>
      <span id="Lightbox_title"></span>
    </div>
  </div>
  <div id="Lightbox_right">▶</div>
  <div id="Lightbox_left">◀</div>
  <div id="Lightbox_close">&times;</div>
</div>
{{end}}
