{{define "lightbox"}}
<div id="Lightbox" class="-hidden">
  <div id="Lightbox_controls">
    <div id="Lightbox_close">&times;</div>
  </div>
  <div id="Lightbox_image">
    <img id="Lightbox_img"/>
  </div>
</div>
{{end}}