@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Right Hand Hairline';
  src: url('/fonts/righthand/original-righthand-hairline.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-lightitalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-bolditalic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-extrabolditalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Right Hand Hairline';
  src: url('/fonts/righthand/original-righthand-hairlineitalic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-extrabold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Right Hand';
  src: url('/fonts/righthand/original-righthand-italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
